# ==========================
# Environment
# ==========================
.env
.env.*
*.env

# ==========================
# Secrets
# ==========================
*.pem
*.key
*.crt
*.pfx

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
.venv/
venv/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Temporary files
# ==========================
*.tmp
*.bak
*.swp

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Downloads
# ==========================
Downloads/

# ==========================
# Docker
# ==========================
docker-data/

# ==========================
# Terraform
# ==========================
.terraform/
*.tfstate
*.tfstate.*

# ==========================
# VS Code
# ==========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json